
<div class="flex-column">

  <div class="spinner-grow text-primary loading" role="status" style="width: 3rem; height: 3rem;" *ngIf="loaging">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="col text-center pt-4 pb-4">
    <h3>Agrear nueva tienda</h3>
  </div>

  <div class="col" id="form">

    <form [formGroup]="storeForm" (ngSubmit)="onSubmit()">

      <div class="d-flex flex-row pt-4">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name" class="label"> Nombre dela tienda </label>
            <input formControlName="name" id="name" type="text" placeholder="" aria-required="true" class="form-control"
              required>
            <div *ngIf="submitted && f.name.errors">
              <div *ngIf="f.name.errors.required">
                <small tabindex="-1" class="form-text text-danger">
                  Campo obligatorio
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="address" class="label"> Dirección de la tienda </label>
            <input formControlName="address" id="address" type="text" placeholder="" class="form-control">
            <div *ngIf="submitted && f.address.errors">
              <div *ngIf="f.address.errors.required">
                <small tabindex="-1" class="form-text text-danger">
                  Campo obligatorio
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="phone" class="label"> Teléfono de la tienda </label>
            <input formControlName="phone" id="phone" type="text" placeholder="" class="form-control" mask ='(0000) 000-0000'>
            <div *ngIf="submitted && f.phone.errors">
              <div *ngIf="f.phone.errors.required">
                <small tabindex="-1" class="form-text text-danger">
                  Campo obligatorio
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="label"> Email </label>
            <input id="email" type="email" formControlName="email" placeholder="" aria-required="true"
              class="form-control">
          </div>
          <div *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.email">
              <small tabindex="-1" class="form-text text-danger">
                EL correo debe tener un formato valido
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row">
        <div class="col">
          <input type="file" name="pictures" (change)="onLoadimages($event.target.files)" multiple>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-around pt-4 pb-4">
        <button type="button" class="btn btn-danger" (click)="clearForm()">Cancelar</button>
        <button type="submit" class="btn btn-outline-primary">Enviar</button>
      </div>

    </form>
  </div>

  <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert" *ngIf="warning">
    <strong>Demasiadas imagenes!</strong> Solo puedes agregar un máximo de 3 imagenes
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>
